.cart_page {
    max-width: 1080px;
    min-height: 80vh;
    margin: 80px auto;
    width: 100%;
}

.cart_table {
    width: 100%;
}

.cart_table thead tr {
    background: #ff523b;
    width: 100%;
}

.cart_table thead tr th {
    text-align: left;
    color: white;
    padding: 10px 5px;
    margin: 0;
}

.cart_table thead tr th:first-child {
    width: 50%;
}

.item {
    p:first-child {
        font-weight: bold;
        margin: 5px 0;
    }

    .price {
        margin: 5px 0;
    }

    margin: 10px;
    display: flex;

    .item_thumb {
        width: 80px;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    button {
        background: unset;
        border: none;
        color: #ff523b;
        cursor: pointer;
    }
}

td.quantity {
    text-align: left;

    input {
        width: 50px;
        padding: 8px;
        align-items: center;
    }

    button {
        width: 50px;
        font-size: 25px;
        cursor: pointer;
    }

    div {
        display: flex;
        align-items: center;

    }
}

.total_price table{
    border-top: 2px solid #ff523b;
    width: 250px;
    margin-left: auto;
}

.Purchase_btn{
    margin-top: 60px;
   display: flex;
   justify-content: right;
   button{
       background: #f50057;
       color: white;
       border: white;
       padding: 8px;
       font-size: 20px;
       cursor: pointer;
   }
}