*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: {
    family: Arial;
    size: 1rem;
  }
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
}



// popup

.close {
  background: white !important;
  padding: 5px;
  margin: 5px;
  position: absolute;
  right: 0;
  border: none;
cursor: pointer;

}
.modal_content{
  padding: 10px;
}


