$primaryColor: #2196f3;
$secondaryColor: #f50057;
$bg: #263238;
$text: #cfd8dc;
$grey: #9e9e9e;
$white: #fff;

// Responsive Variables
// $laptop: "only screen and (min-width: 1200px) and (max-width: 1600px)";
// $lg: "only screen and (min-width: 992px) and (max-width: 1200px)";
// $md: "only screen and (min-width: 768px) and (max-width: 991px)";

// $sm: "only screen and (min-width: 576px) and (max-width: 767px)";

$mobile: "(max-width: 767px)";
